*.pyc
locus/settings_local.py
locus/local_settings.py
locus/fbapp/local_settings.py
locus/fbapp/fixtures/social.json
locus/fbapp/fixtures/socialaccounts.json
locus/fbapp/fixtures/socialaccounts_old.json
settings_local.py
*.log
*.orig
media/third-party/*
media/DEMO/*
mediaroot/*
locus/wsgi.py
data/*
env/*
*_import/*.mdb
*_import/*.tsv
locus/fixtures/downloads/*
idb_import/treelive_summary/*/*.tsv
idb_import/treelive_summary/*/*.csv
idb_import/treelive_summary/*/*.sqlite
idb_import/treelive_summary/*/*.pickle
idb_import/treelive_summary/*/*.tab
openlayers
.vagrant
.DS_Store
.*.swp
deploy/local_vars.yml
media/assets/reload.txt
src-graphics
vimrc
.vimrc
will-todo.txt
