---
facebook_app_id: ''
facebook_app_secret: ''
dbpwd: ''
media_url: 'http://localhost:8080/media/'
data_src: '/usr/local/apps/locus/data/'
region_src: '/usr/local/apps/locus/media/DEMO'
twitteraccesstoken: ''
twitteraccesstokensecret: ''