<!DOCTYPE html>
<html lang=en>
{% load appname %}
{% load account %}
{% load socialaccount %}
        
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title %}{% appname %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/media/third-party/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/media/third-party/bootstrap/css/bootstrap-responsive.css"/>
    
    <!--<link rel="shortcut icon" href="/media/marco/ico/favicon.ico">-->
    
    {% providers_media_js %}

    <script src="/media/third-party/jquery/jquery-1.9.1.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> -->
    
    <script src="/media/third-party/openlayers/2-12/OpenLayers.js"></script>
    <script type='text/javascript' src='/media/third-party/knockoutjs/knockout-2.2.1.js'></script>
        
    <script type='text/javascript'>
        var users = $.parseJSON('{{users}}'.replace(/&quot;/ig, '"'));
        var userID = '{{userID}}';
        var token = '{{token}}';
        var avatar_url = '{{avatar}}'      //TODO: Replace with id and plug in to avatar address.
        var geojson_format = new OpenLayers.Format.GeoJSON();
        var userLocus = geojson_format.read('{{userLocus}}'.replace(/&quot;/ig, '"'));
        if (userLocus && userLocus.length > 0) {
            userLocus = userLocus[0].geometry;
        }
        var gen_id = {{genId}};
        var locus_name = '{{locusName}}';
        var news_sources = $.parseJSON('{{newsSources}}'.replace(/&quot;/ig, '"'));
        var locusSizeClass = 'medium';
        var appID = '{{appID}}'

        
    </script>

    <!--<script src="/media/js/demo_data.js"></script>-->
    
    <script src="/media/js/map.js"></script>
    
    <script src="/media/js/locus.js"></script>

    
    {% block include %}
    {% endblock %}
    
    <link rel="stylesheet" href="/media/css/locus_style.css"/>
        
</head>
<body class="home page page-id-14 page-template page-template-page-homepage-php"  onload="init()">
    <div id="fb-root"></div>
    <!-- <script src="/media/js/facebook-config.js"></script> -->

    {% block header %}
    <header role="banner">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span5">
                            <a href="/">
                                <img class="header-logo" src="/media/img/locus_logo.gif"/>
                            </a>
                        </div>
                        <div class="span7">
                            <div class="nav-collapse">
                                <div class="row-fluid right-head">
                                    {% if user.is_authenticated %}
                                        <div class="span9 user-name">
                                            <p>
                                                {% if avatar %}
                                                    <img class="header-avatar" src="{{avatar}}"/>
                                                {% endif %}
                                                <b>Hello </b>
                                                {% if user.first_name %}
                                                    <b>{{user.first_name}}</b>
                                                    {% if user.last_name %}
                                                        <b>{{user.last_name}}</b>
                                                    {% endif %}
                                                {% else %}
                                                    <b>{{user.username}}</b>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="span3">
                                            <form method="POST" action="/accounts/logout/">
                                                <button type="submit" class="base-logout btn">logout</button>
                                            </form>
                                        </div>
                                    {% else %}
                                        <div class="span12">
                                            <form method="POST" action="{% provider_login_url "facebook" method="js_sdk" %}">
                                                <button type="submit" class="base-login btn">Log In With Facebook</button>
                                            </form>
                                        </div>
                                    {% endif %}
                                    <!-- <a id="ctl00_uxSignIn" title="Login with Facebook" class="btnFacebookLogin NoWrap" href="javascript:__doPostBack('ctl00$uxSignIn','')"><span> -->
                                        <!-- Login with Facebook</span></a> -->
                                </div><!--/.nav-collapse -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header> <!-- end header -->
    {% endblock %}
    
    {% block body %}{% endblock %}
    
    {% block footer %}
            <footer>
              <div class="row footer">
                <div class="span9 social">
                    <h5>Contact Us</h5>
                    <a href="" data-toggle="modal" data-target="#feedback-modal">rhodges@ecotrust.org</a><br/>
                    503-467-0800<br/>
                </div>
                <div class="span3 social">
                    <div class="pull-right">
                        <h5>connect with us</h5>              
                        <div class="fb-like" data-href="https://locus.labs.ecotrust.org" data-width="450" data-show-faces="true" data-send="true"></div>
                        <p class="pull-right">
                            <a href="http://portal.midatlanticocean.org/portal/feed/"><i class="icon-rss icon-large"></i></a>
                            <a href="https://twitter.com/PortalMARCO"><i class="icon-twitter icon-large"></i></a>
                        </p>
                        <!-- <div class="fb-like" data-send="true" data-width="450" data-show-faces="true">Like!</div> -->
                        <a href=""><i class="icon-linkedin icon-large"></i></a>
                        <a href=""><i class="icon-google-plus icon-large"></i></a>

                    </div>

                </div>
              </div>
            </footer>
    {% endblock %}      <!-- footer -->
    
    {% block scripts %}
    {% endblock %}
    
    <!-- % analytics % -->
    <script src="/media/third-party/bootstrap/js/bootstrap.js" ></script>
    <!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
</body>
</html>

