{% extends "fbapp/base.html" %}
{% load account %}
{% block include %}
{% endblock %}
{% block feedback %}
{% endblock %}
{% block body %}

<div class="row-fluid main-page">
    <div class="span12">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="locusTabs">
                <li class="active">
                    <a id="home-tab" href="#home-tab-content" data-toggle="tab">Home</a>
                </li>
                <li>
                    <a id="dashboard-tab" href="#dashboard-tab-content" data-toggle="tab">Dashboard</a>
                </li>
                <li>
                    <a id="details-tab" href="#details-tab-content" data-toggle="tab">Details</a>
                </li>
                <li>
                    <a id="settings-tab" href="#settings-tab-content" data-toggle="tab">Settings</a>
                </li>
                <li>
                    <a id="friends-tab" href="#friends-tab-content" data-toggle="tab">Friends</a>
                </li>
                <li>
                    <a id="world-tab" href="#world-tab-content" data-toggle="tab">Other Loci</a>
                </li>
            </ul>
            <div class="row-fluid">
                <div class="span11">
                    <div class="tab-content pan-span">
                        <div class="tab-pane active home-page" id="home-tab-content">
                            <div class="span5 home-left">
                                <div class="row-fluid">
                                    <div class="span12">
                                        {% load account %}
                                        {% load socialaccount %}
                                        <!--
                                        <table>
                                            <tr><td>ID</td><td>{{user.socialaccount_set.all.0.uid}}</td></tr>
                                            <tr><td>Username</td><td>{{user.socialaccount_set.all.0.extra_data.username}}</td></tr>
                                            <tr><td>Bio</td><td>{{user.socialaccount_set.all.0.extra_data.bio}}</td></tr>
                                            <tr><td>Hometown</td><td>{{user.socialaccount_set.all.0.extra_data.hometown.name}}</td></tr>
                                            <tr><td>Employer</td><td>{{user.socialaccount_set.all.0.extra_data.work.0.employer.name}}</td></tr>
                                            <tr><td>Position</td><td>{{user.socialaccount_set.all.0.extra_data.work.1.position.name}}</td></tr>
                                            <tr><td>Quotes</td><td>{{user.socialaccount_set.all.0.extra_data.quotes}}</td></tr>
                                            <tr><td>Link</td><td><a href="{{user.socialaccount_set.all.0.extra_data.link}}">{{user.socialaccount_set.all.0.extra_data.link}}</a></td></tr>
                                            <tr><td>Location</td><td>{{user.socialaccount_set.all.0.extra_data.location.name}}</td></tr>
                                            <tr><td>Gender</td><td>{{user.socialaccount_set.all.0.extra_data.gender}}</td></tr>
                                            <tr><td>Token</td><td>{{token}}</td></tr>
                                            <tr><td>Users</td><td><div data-bind="text: users"></div></td></tr>
                                            <tr><td>Friends</td><td><div data-bind="html: friendsList"></div></td></tr>
                                        </table>
                                        -->
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6 home-left-left">
                                        <div class="home-left-img">
                                            <img src="/media/img/home/political.gif"/>
                                        </div>
                                        <div>
                                            <p>Connect with your locale!</p>
                                        </div> 
                                    </div> 
                                    <div class="span6 home-left-right">
                                        <p>Understand your region beyond political boundaries!</p> 
                                        <div class="home-left-img">
                                            <img src="/media/img/home/seattle_farmers_market_507913_o.jpg" />
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row-fluid">
                                    <div class="span6 home-left-left">
                                        <div class="home-left-img">
                                            <img src="/media/img/home/volunteers_small.jpg" />
                                        </div>
                                        <p>Share with your region!</p>
                                    </div>
                                    <div class="span6 home-left-right">
                                        <p>Get the latest news from your backyard!</p>
                                        <div class="home-left-img">
                                            <img src="/media/img/home/seattle_farmers_market_507913_o.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12 home-buttons">
                                        <a class="btn" href="http://www.google.com" target="_blank">
                                            Learn about Locus
                                        </a>
                                        <a class="btn" href="http://www.ecotrust.org" target="_blank">
                                            Learn about Ecotrust
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="span7 home-right">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <img src="/media/img/home/ColdCanada.png"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <img src="/media/img/home/dasboard_screenshot.jpg"/>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <img src="/media/img/home/news_bubble.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dashboard-tab-content">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Dashboard</h2>
                                    <div class="row-fluid">
                                        <div id="dash-map" class="span12 map-holder">
                                            <div class="legend pull-left">
                                                <img src="/media/DEMO/img/legend.png"/>
                                            </div>
                                        </div>        <!--dashboard map-->
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <h3>Community</h3>
                                        </div>
                                        <div class="span8">
                                            <h3>News</h3>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4 place-holder">
                                            <div data-bind="html: communityFeed"></div>
                                        </div>
                                        <div class="span8 place-holder">
                                            <div data-bind="html: newsFeed"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="details-tab-content">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <h2 data-bind="text: locusName"></h2>
                                        </div>
                                        <div class="span9 rename-link">
                                            <a>Rename</a>
                                        </div>
                                    </div>
                                    <h3>Summary</h3>
                                    <div class="row-fluid details">
                                        <div class="span12">
                                            <div class="accordion" id="summary-definition">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#summary-definition" href="#collapseSummaryDefinition">
                                                            Definition
                                                        </a>
                                                    </div>
                                                    <div id="collapseSummaryDefinition" class="accordion-body collapse in">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsSummaryDefinition"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#summary-overview" data-bind='click: getSummaryOverview' href="#collapseSummaryOverview">
                                                            Overview
                                                        </a>
                                                    </div>
                                                    <div id="collapseSummaryOverview" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsSummaryOverview"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-bind='click: getSummaryLanguage' data-parent="#summary-language" href="#collapseSummaryLanguage">
                                                            Language
                                                        </a>
                                                    </div>
                                                    <div id="collapseSummaryLanguage" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsSummaryLanguage"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-bind='click: getSummaryResources' data-parent="#summary-resources" href="#collapseSummaryResources">
                                                            Natural Resources
                                                        </a>
                                                    </div>
                                                    <div id="collapseSummaryResources" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsSummaryResources"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Vulnerabilities</h3>
                                    <div class="row-fluid details">
                                        <div class="span12">
                                            <div class="accordion" id="vulnerability-definition">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#vulnerability-definition" href="#collapseVulnerabilityDefinition">
                                                            Definition
                                                        </a>
                                                    </div>
                                                    <div id="collapseVulnerabilityDefinition" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsVulnerabilitiesDefinition"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-bind='click: getVulnerabilityClimate' data-parent="#vulnerability-climate" href="#collapseVulnerabilityClimate">
                                                            Climate Change
                                                        </a>
                                                    </div>
                                                    <div id="collapseVulnerabilityClimate" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsVulnerabilitiesClimate"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-bind='click: getVulnerabilitySocEcon' data-parent="#vulnerability-economic" href="#collapseVulnerabilityEconomic">
                                                            Socio-Economic
                                                        </a>
                                                    </div>
                                                    <div id="collapseVulnerabilityEconomic" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsVulnerabilitiesSocEcon"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-bind='click: getVulnerabilityHazards' data-parent="#vulnerability-hazards" href="#collapseVulnerabilityHazards">
                                                            Natural Hazards
                                                        </a>
                                                    </div>
                                                    <div id="collapseVulnerabilityHazards" class="accordion-body collapse">
                                                        <div class="accordion-inner">
                                                            <div data-bind="html: detailsVulnerabilitiesHazards"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings-tab-content">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Settings</h2>
                                    <p>With what location do you associate?</p>
                                    <div class="row-fluid">
                                        <div class="span12 well">
                                            <div class="row-fluid">
                                                <div class="span4">
                                                    <h3>Your Locus<img class="pull-right" src="/media/img/ajax-loader.gif" data-bind="visible: showSpinner"/>
                                                    </h3>
                                                </div>
                                                <div class="span8">
                                                    <p><span data-bind="visible:!drawing()">Click on the map to indicate the center of your world.</span>&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span4">
                                                    <form>  
                                                        <div class="row-fluid">
                                                            <div class="span12">
                                                                <label>Name:</label>
                                                                <input type="text" data-bind="value: locusName, valueUpdate: 'afterkeydown'" placeholder="MyLocus"/>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">
                                                            <div class="span12">
                                                                <div class="row-fluid news-select">
                                                                    <div class="span12">
                                                                        <p class="pull-left">What news sources do I see?</p>
                                                                    </div>
                                                                    <div class="span12">
                                                                        <fieldset>
                                                                            <label class="checkbox">
                                                                                <input type="checkbox" data-bind="checked: ns_public_box">Public story points
                                                                            </label>
                                                                            <label class="checkbox">
                                                                                <input type="checkbox" data-bind="checked: ns_friend_box">Friends' story points
                                                                            </label>
                                                                            <label class="checkbox">
                                                                                <input type="checkbox" data-bind="checked: ns_tweets_box">Tweets
                                                                            </label>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <div class="row-fluid">
                                                        <div class="span12">
                                                            <button class="btn locus-review-btn" data-bind='click: setUserLocus, enable: (locusSelected() && locusName() != "")'>Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span8">
                                                    <div class="row-fluid">
                                                        <div class="span11" id="settings-map">
                                                            <div id="your-locus" class="span12 map-holder"></div>
                                                        </div>
                                                        <div class="span0" id="draw-instructions" data-bind="visible:drawing()">
                                                            <div id="draw-instruct"class="row-fluid">
                                                                <div class="span12">
                                                                    <div class="row-fluid">
                                                                        <div class="span7">
                                                                            Click to drop a corner on the map.
                                                                        </div>
                                                                        <div class="span4">
                                                                            <img class="demo" src="/media/img/draw_1.png"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row-fluid">
                                                                        <div class="span7">
                                                                            Click again to add more corners to your region.
                                                                        </div>
                                                                        <div class="span4">
                                                                            <img class="demo" src="/media/img/draw_2.png"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row-fluid">
                                                                        <div class="span7">
                                                                            Double-click to finish drawing your region.
                                                                        </div>
                                                                        <div class="span4">
                                                                            <img class="demo" src="/media/img/draw_3.png"/>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span11 well" data-bind="visible: locusSelected()">
                                                            <p>Don't like this region?</p>
                                                            <button id="bigger-button" class="btn" data-bind="visible:!biggest() && locus_type() != 'drawn', click: getBiggerLocus">Make it bigger</button>
                                                            <button id="smaller-button" class="btn" data-bind="visible:!smallest() && locus_type() != 'drawn', click: getSmallerLocus">Make it smaller</button>
                                                            <button class="btn" data-bind="visible:locus_type()!='drawn', click:drawLocus">Draw your own</button>
                                                            <button class="btn" data-bind="visible:locus_type()=='drawn', click:drawLocus">Redraw</button>
                                                            <button class="btn" data-bind="click:cancelLocus">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="friends-tab-content">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Friends</h2>
                                    <div class="row-fluid">         <!-- Main Friends Content -->
                                        <div class="span4">             <!-- 1st Column Content -->
                                            <div class="row-fluid">         
                                                <div class="span12">
                                                    <p>Your Friends</p>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12 place-holder">
                                                    <div class="row-fluid">
                                                        <div data-bind="html: friendsList"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4 middle-column">             <!-- 2nd Column Content -->
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <p>Other Locus Users</p>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12 place-holder">
                                                    <div class="row-fluid">
                                                        <div data-bind="html: usersList"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span4 right-column">             <!-- 3rd Column Content -->
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <p>Invite More Friends to Locus</p>
                                                </div>
                                            </div>
                                            <div class="row-fluid place-holder">
                                                <div class="span12">
                                                    <div class="row-fluid">         <!-- Right column header -->
                                                        <div class="span12 well">
                                                            <div class="row-fluid">
                                                                <div class="span4">
                                                                    <button class="btn">Select all</btn>
                                                                </div>
                                                                <div class="span8">
                                                                    <form class="navbar-search">
                                                                        <input type="text" class="search-query friend-search" placeholder="Search Friends">
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <form id="invite-form" name="invite" data-bind="submit: inviteFriends">
                                                        <div class="row-fluid friend-select">         <!-- Right column friend selection -->
                                                            <div class="scrollable span12">
                                                                    <fieldset>
                                                                        <div data-bind="html: inviteList"></div>
                                                                    </fieldset>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">         <!-- Right column Message box -->
                                                            <div class="span12">
                                                                <textarea rows="4" class="friend-textarea">Please share you Locus with me!</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row-fluid">         <!-- Right column button -->
                                                            <div class="span12">
                                                                <button class="btn invite" type="submit">Invite</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="world-tab-content">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2>Other Loci</h2>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            Showing: <select>
                                                <option value="All Loci">All Loci</option>
                                                <option value="Friends' Loci" selected>Friends' Loci</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span1"></div>
                                        <div id="loci-map" class="span10"></div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h3>[SELECTED LOCUS]</h3>
                                        </div>
                                        <div class="span4">
                                            <button class="btn world-learn-btn">Learn More About [LOCUS]</button>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <h3>Community</h3>
                                        </div>
                                        <div class="span8">
                                            <h3>News</h3>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span4 place-holder">
                                            <div data-bind="html: otherCommunityFeed"></div>
                                        </div>
                                        <div class="span8 place-holder">
                                            <div data-bind="html: otherNewsFeed"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>

{% endblock %}		

{% block js %}

{% endblock %}

