{% extends "fbapp/base.html" %}
{% load account %}
{% block include %}
{% endblock %}
{% block feedback %}
{% endblock %}
{% block body %}

<main class="main-page">


	<!--Hidden by default-->
	<section class="cp-about">
		<div class="content"></div>
		<footer>
			<p class="get-in-touch"><a  href="mailto:locus@ecotrust.org">Get in touch (email?? form?)</a></p>
			<p class="credit">Commonplace is a project of <a href="http://ecotrust.org">Ecotrust</a></p>
		</footer>
	</section>


	<div class="tab-content pan-span">

		<div class="tab-pane home-page" id="home-tab-content">

			{% load account %}
			{% load socialaccount %}

			
			<div class="content">
				<h1>Welcome to Commonplace / Maps</h1>
				<p class="intro">The place we call home is influenced by factors far greater than the geopolitical boundaries we’ve drawn. Commonplace is a chance to literally redraw the map and see what really matters.</p>
				<div class="overview container">
					<ul class="row">
						<li><a class="about-draw" href="#"><em>Draw</em> your own place or select from existing bioregions</a></li>
						<li><a class="about-read" href="#"><em>Read</em> local news related to your place and post your stories</a></li>
						<li><a class="about-network" href="#"><em>Exchange</em> posts with your network of friends</a></li>
						<li><a class="about-stats" href="#"><em>View stats</em> about climate, language, population and more</a></li>
					</ul>
				</div>
			</div>

			<div class="social-login">
				<h3>Get Started</h3>
				<a class="btn btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">Log In With Facebook</a>
				<a class="btn btn-twitter" href="{% provider_login_url "twitter" %}">Log In With Twitter</a>
			</div>

		</div> <!-- /#home-tab-content -->




		<div class="tab-pane" id="dashboard-tab-content">

			<div class="container-fluid"> 

				{% comment incorporated into tools for now %}
				<!--
				<div class="row">
					Loci: <select data-bind="options: availableLayers, optionsText: 'name', value: selectedLayer, event: {change: layerChanged}">
					</select>
					Map: <select data-bind="options: baseLayers, optionsText: 'name', value: selectedBaseLayer, event: {change: baseLayerChanged}">
					</select>
				</div>
				-->
				{% endcomment %}

				<div class="row">
					<div id="dash-map" class="span-12 map-holder">
						<div class="legend pull-left">
							<!--<img src="/media/img/legend.png"/>-->
						</div>
					</div><!-- /#dash-map-->
				</div>

				<div class="row">

					<section class="listing community-listing">
						<h2>Community</h2>
						<ul data-bind="html: communityFeed"></ul>
					</section> <!-- /.community-listing -->

					<section class="listing news-listing">
						<h2>News</h2>
						<ul data-bind="foreach: newsItems">
							<li data-bind="attr: {'classs': 'source-type-' + source_type}">
								<a href="#" data-bind="attr: { href: source_link + '/status/' + id }">
									<img data-bind="attr: { src: image }">
									<div class="content">
										<h3 data-bind="text: title"></h3>
										<p data-bind="text: content"></p>
										<div class="meta">
											<span class="source" data-bind="text: source_type"> </span> / 
											<time data-bind="attr: { content: source_link, datetime: source_link }, text: date" 
												class="published" itemprop="datePublished"></time>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</section> <!-- /.news-listing -->

				</div>
			</div>
		</div> <!-- /#dashboard -->





		<div class="tab-pane container-fluid" id="details-tab-content">
			<header>
				<h1>Statistics for <span data-bind="text: locusName"></span> <a class="rename-link">Rename</a></h1>
			</header>

			<h2>Summary</h2>

			<div class="row details">

				<div class="col-md-9">
						
					<div class="accordion" id="summary-definition">
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#summary-overview" data-bind='click: getSummaryOverview' href="#collapseSummaryOverview">
									<dt>Overview</dt>
									<dd class="definition">Provides estimates of size, population, temperature, and precipitation for your bioregion</dd>
								</dl>
							</div>
							<div id="collapseSummaryOverview" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsSummaryOverview"></div>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-bind='click: getSummaryLanguage' data-parent="#summary-language" href="#collapseSummaryLanguage">
									<dt>Language</dt>
									<dd class="definition">Provides information related to what languages are currently spoken within your bioregion and what languages have historically been spoken.</dd>
								</dl>
							</div>
							<div id="collapseSummaryLanguage" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsSummaryLanguage"></div>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-bind='click: getSummaryResources' data-parent="#summary-resources" href="#collapseSummaryResources">
									<dt>Natural Resources</dt>
									<dd class="definition">Provides information related to primary productivity, agriculture, and existing ecoregions</dd>
								</dl>
							</div>
							<div id="collapseSummaryResources" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsSummaryResources"></div>
								</div>
							</div>
						</div>
						
					</div>
				</div> <!-- /.col-md-9 -->

				{% comment integrated into listing. %}
				<div class="col-md-3 details-definitions">
					<div id="collapseSummaryDefinition" class="inner">
						<h3>Summary Definitions</h3>
						<div data-bind="html: detailsSummaryDefinition"></div>
					</div>
				</div> <!-- /.col-md-3 -->
				{% endcomment %}
			</div><!-- /.details -->

			<h2>Vulnerabilities</h2>
			<div class="row details">

				<div class="col-md-9">
					<div class="accordion" id="vulnerability-definition">
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-bind='click: getVulnerabilityClimate' data-parent="#vulnerability-climate" href="#collapseVulnerabilityClimate">
									<dt>Climate Change</dt>
									<dd class="definition">Provides information related to impacts on agriculture, water, and land loss due to sea level rise.</dd>
								</dl>
							</div>
							<div id="collapseVulnerabilityClimate" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsVulnerabilitiesClimate"></div>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-bind='click: getVulnerabilitySocEcon' data-parent="#vulnerability-economic" href="#collapseVulnerabilityEconomic">
									<dt>Socio-Economic</dt>
									<dd class="definition">Provides information related to human impacts, human needs, social equity, and cultural pressures.</dd>
								</dl>
							</div>
							<div id="collapseVulnerabilityEconomic" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsVulnerabilitiesSocEcon"></div>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								<dl class="accordion-toggle collapsed" data-toggle="collapse" data-bind='click: getVulnerabilityHazards' data-parent="#vulnerability-hazards" href="#collapseVulnerabilityHazards">
									<dt>Natural Hazards</dt>
									<dd class="definition">Provides information related to potential natural hazards and their economic costs.</dd>
								</dl>
							</div>
							<div id="collapseVulnerabilityHazards" class="accordion-body collapse">
								<div class="accordion-inner">
									<div data-bind="html: detailsVulnerabilitiesHazards"></div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.col-md-9 -->



					
			</div><!-- /.details -->
		</div> <!-- /#details-tab-content -->






		<div class="tab-pane container-fluid" id="settings-tab-content">
			<div class="row">
				<!--<h2>Settings</h2>-->
				<!--<h3>Your Locus <img class="pull-right" src="/media/img/ajax-loader.gif" data-bind="visible: showSpinner"/> </h3>-->

				<div class="lead welcome" data-bind="visible:!drawing(), visible: !locus_type()">
					<h1>Where are you?</h1>
					<p>Click on the map to indicate the center of your world.</p>
				</div>

<!--sidebar with settings/form that sits on top of the map, not in the center.

Whole thing visible when 'data-bind="visible: locusSelected()"'

'WHERE ARE YOU' visible when 'data-bind="visible: !locusSelected()"'

What about help? Only when drawing?
-->

				<!--<section id="map-panel" class="map-panel" data-bind="visible: drawing() || locusSelected() || locus_type() != null">-->
				<section id="map-panel" class="map-panel" data-bind="visible: drawing() || locusSelected()">

					<header>
						<label>Name:</label>
						<input type="text" data-bind="value: locusName, valueUpdate: 'afterkeydown'" placeholder="MyLocus"/>
					</header>



											<ol id="draw-instructions" class="container-fluid" data-bind="visible:drawing()">
												<li class="row">
													<div class="col-md-7">
														Click to drop a corner on the map.
													</div>
													<div class="col-md-5">
														<img class="demo" src="/media/img/draw_1.png"/>
													</div>
												</li>
												<li class="row">
													<div class="col-md-7">
														Click again to add more corners to your region.
													</div>
													<div class="col-md-5">
														<img class="demo" src="/media/img/draw_2.png"/>
													</div>
												</li>
												<li class="row">
													<div class="col-md-7">
														Double-click to finish drawing your region.
													</div>
													<div class="col-md-5">
														<img class="demo" src="/media/img/draw_3.png"/>
													</div>
												</li>
											</ol>



					<div class="row" data-bind="visible: locusSelected()">
						<div class="col-sm-6 draw-controls">
							<h3>Map Tools</h3>
							<button class="btn btn-link" id="bigger-button" data-bind="visible: locus_type() != 'drawn', enable: !biggest(), click: getBiggerLocus">Make it bigger</button>
							<button class="btn btn-link" id="smaller-button" data-bind="visible: locus_type() != 'drawn', enable: !smallest(), click: getSmallerLocus">Make it smaller</button>
							<button class="btn btn-link draw" data-bind="visible:locus_type()!='drawn', click:drawLocus">Draw your own</button>
							<button class="btn btn-link draw" data-bind="visible:locus_type()=='drawn', click:drawLocus">Redraw</button>
						</div>
						<div class="col-sm-6">
							<div class="news-select">
								<fieldset>
									<legend>Include:</legend>
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: ns_public_box">Public stories
									</label>
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: ns_friend_box">Friends' stories
									</label>
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: ns_tweets_box">Tweets
									</label>
								</fieldset>
							</div>	
						</div>
					</div>

					<footer>
						<button class="btn-link cp-cancel" data-bind="click: cancelLocus">Cancel</button>
						<button class="cp-button cp-save" data-bind='click: setUserLocus, enable: (locusSelected() && locusName() != "")'>Save</button>
					</footer>


				</section> <!-- #map-panel -->



				<!--<div id="settings-map" class="container-fluid">-->
					<!--<div class="row">-->
						<!--<div id="your-locus" class="col-sm-12 map-holder"></div>-->
					<!--</div>-->
				<!--</div>-->

				<div id="settings-map" class="map-wrap">
						<div id="your-locus" class="map-holder"></div>
				</div>




			</div>
		</div> <!-- /#settings tab content -->


		
		<!-- 
			NETWORK
		-->


		<div class="tab-pane" id="friends-tab-content">
			<!--
			<li><a href="#">
				<img src="http://ecotrust.org/media/RS665_City-of-Garibaldi-aerial-125x125.jpg" alt="">
				<div class="content">
					<h3>Abbey Smith</h3>
					<p>Commonplace Name</p>
				</div>
			</a></li>
			-->
			<section class="listing my-network-listing">
				<h2>My Network</h2>
				<ul data-bind="html: friendsList"></ul>

				<h4><a href="/generate_friend_requests">Get Some Friends! [For Testing Only]</a></h4>

				<div data-bind="html: friendRequests"></div>

			</section> <!-- /.my-network-listing -->


			<section class="listing other-users-listing">
				<h2>Other Users</h2>
				<ul data-bind="html: usersListHtml"></ul>

				<!-- @TODO Apply to all lists? -->
				<!-- @TODO only show if usersListHtml > 6-->
				<a href="#" class="listing-more">See More</a>
			</section> <!-- /.other-users-listing -->


			<section class="listing invite-listing">
				<header class="col-sm-12">
					<h2>Invite More</h2>
					<form>
						<input type="search" class="search-query friend-search" data-bind="value: inviteFriendsFilter, valueUpdate:
						'keyup'" placeholder="Search Friends" autocomplete="off">
					</form>
				</header>
				<form id="invite-form" class="col-sm-12" name="invite" data-bind="submit: inviteFriends">
					<div class="friend-select">
						<div class="scrollable">
							<fieldset>
								<ul data-bind="foreach: inviteListFiltered">
									<li>
										<label>
											<input class="invite-chk" type="checkbox" 
											data-bind="attr: { name: name, value: id }">
											<span data-bind="text: name"></span>
										</label>
									</li>
								</ul>	
							</fieldset>

						</div>
					</div>
					<textarea rows="4" class="friend-textarea">Please share you Locus with me!</textarea>
					<button class="btn invite" type="submit">Invite</button>
				</form>

			</section> <!-- /.invite-listing -->
										

		</div> <!-- /#network/friends -->

		<!--
		<div class="tab-pane" id="world-tab-content">
			<div class="row-fluid">
				<div class="span12">
					<h2>Other Loci</h2>
					<div class="row-fluid">
						<div class="span12">
							Showing: <select>
								<option value="All Loci">All Loci</option>
								<option value="Friends' Loci" selected>Friends' Loci</option>
							</select>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span1"></div>
						<div id="loci-map" class="span10"></div>
					</div>
					<div class="row-fluid">
						<div class="span8">
							<h3>[SELECTED LOCUS]</h3>
						</div>
						<div class="span4">
							<button class="btn world-learn-btn">Learn More About [LOCUS]</button>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<h3>Community</h3>
						</div>
						<div class="span8">
							<h3>News</h3>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4 place-holder">
							<div data-bind="html: otherCommunityFeed"></div>
						</div>
						<div class="span8 place-holder">
							<div data-bind="html: otherNewsFeed"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>  <!-- /.tab-content -->
</main>
<script id="friendsListTemplate" type="text/html">
	<a href="#">
		<img src="http://graph.facebook.com/" alt="">
		<div class="content">
			<h3>Roberta Conner</h3>
			<p>Commonplace Name</p>
		</div>
	</a>
    <span data-bind="text: $data.dummyText"></span>
</script>


{% endblock %}		

{% block js %}

{% endblock %}

